In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Nikolskoye,RU,2021-01-27 21:53:59,59.7035,30.7861,34.00,86,90,2.24
1,1,Te Anau,NZ,2021-01-27 21:53:59,-45.4167,167.7167,50.05,75,78,2.15
2,2,Yerbogachen,RU,2021-01-27 21:54:00,61.2767,108.0108,-40.20,80,83,5.66
3,3,Nhulunbuy,AU,2021-01-27 21:54:00,-12.2333,136.7667,80.60,83,99,8.05
4,4,Cape Town,ZA,2021-01-27 21:52:24,-33.9258,18.4232,66.00,72,0,18.41

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [11]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds , dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind , dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [16]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Nhulunbuy,AU,2021-01-27 21:54:00,-12.2333,136.7667,80.60,83,99,8.05
6,6,Rikitea,PF,2021-01-27 21:54:01,-23.1203,-134.9692,79.88,73,89,13.15
12,12,Saint-Philippe,RE,2021-01-27 21:53:32,-21.3585,55.7679,77.00,69,0,5.75
14,14,Isangel,VU,2021-01-27 21:52:37,-19.5500,169.2667,83.07,76,98,16.69
15,15,Puerto Carreno,CO,2021-01-27 21:54:03,6.1890,-67.4859,89.60,43,72,15.28
18,18,Bowen,AU,2021-01-27 21:54:03,-20.0167,148.2333,77.00,88,40,8.05
21,21,Cockburn Town,TC,2021-01-27 21:53:58,21.4612,-71.1419,76.23,74,0,14.52
22,22,Vaini,TO,2021-01-27 21:54:04,-21.2000,-175.2000,75.20,94,90,8.05
27,27,Sola,VU,2021-01-27 21:53:28,-13.8833,167.5500,82.29,81,100,20.98
41,41,Georgetown,MY,2021-01-27 21:53:18,5.4112,100.3354,77.00,100,20,5.12

In [17]:
preferred_cities_df.count()

City_ID       137
City          137
Country       137
Date          137
Lat           137
Lng           137
Max Temp      137
Humidity      137
Cloudiness    137
Wind Speed    137
dtype: int64